<div class="mdl-navigation__link mdl-color-text--grey-900 filter" href="" id="services"><i class="mdl-color-text--indigo-A700 material-icons" role="presentation">account_balance</i>Govt Services</div>
<div class="mdl-navigation__link filter mdl-color-text--grey-900" href="" id="recreation"><i class="mdl-color-text--green-A700 material-icons" role="presentation">terrain</i>Recreation</div>
<div class="mdl-navigation__link filter mdl-color-text--grey-900" href="" id="construction"><i class="mdl-color-text--amber-A700 material-icons" role="presentation">warning</i>Construction</div>
<div class="mdl-navigation__link mdl-color-text--grey-900" href="" id="reset"><i class="mdl-color-text--grey-900 material-icons" role="presentation">refresh</i>Show All Maps</div>
<!--a class="mdl-navigation__link" href=""><i class="mdl-color-text--grey-900 material-icons" role="presentation">forum</i>Forums</div>
<div class="mdl-navigation__link" href=""><i class="mdl-color-text--grey-900 material-icons" role="presentation">flag</i>Updates</div>
<div class="mdl-navigation__link" href=""><i class="mdl-color-text--grey-900 material-icons" role="presentation">local_offer</i>Promos</div>
<div class="mdl-navigation__link" href=""><i class="mdl-color-text--grey-900 material-icons" role="presentation">shopping_cart</i>Purchases</div>
<div class="mdl-navigation__link" href=""><i class="mdl-color-text--grey-900 material-icons" role="presentation">people</i>Social</div-->
