<!-- Simple Textfield -->
<form action="#">
  <label class="mdl-button mdl-js-button mdl-button--icon" for="map-controls--search-input" data-upgraded=",MaterialButton">
    <i class="material-icons">search</i>
  </label>
  <div class="mdl-textfield mdl-js-textfield" style="width:80%;">
    <input class="mdl-textfield__input" type="text" id="sample1">
    <label class="mdl-textfield__label" for="sample1">Search Layers...</label>
  </div>
</form>
<div class="android-drawer-separator"></div>
<h5 class="mdl-color-text--primary mdl-typography--text-center mdl-typography--text-uppercase">Basemaps</h5>
<div class="android-drawer-separator"></div>
<div>
  <h5 class="mdl-color-text--primary mdl-typography--text-center mdl-typography--text-uppercase">Layers</h5>
  <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable" style="width:100%;font-size:16px;">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Select All</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">Parcels</td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">Hydrants</td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">Parks</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="android-drawer-separator"></div>
<!--a class="mdl-navigation__link" href=""><i class="mdl-color-text--grey-900 material-icons" role="presentation">forum</i>Forums</div>
<div class="mdl-navigation__link" href=""><i class="mdl-color-text--grey-900 material-icons" role="presentation">flag</i>Updates</div>
<div class="mdl-navigation__link" href=""><i class="mdl-color-text--grey-900 material-icons" role="presentation">local_offer</i>Promos</div>
<div class="mdl-navigation__link" href=""><i class="mdl-color-text--grey-900 material-icons" role="presentation">shopping_cart</i>Purchases</div>
<div class="mdl-navigation__link" href=""><i class="mdl-color-text--grey-900 material-icons" role="presentation">people</i>Social</div-->
