<script>

/*
* Custom map layer control
*/
var mapLayers = [];

function addMapLayers(layer, name, on) {
	var label = document.createElement('label');
	var input = document.createElement('input');
	input.id = layer;
	input.type = 'checkbox';
	input.className = 'mdl-checkbox__input';
	var span = document.createElement('span');
	var spanText = document.createTextNode(name);
	span.appendChild(spanText);
	span.className = 'mdl-checkbox__label';
	label.appendChild(span);
	label.appendChild(input);
	label.className = 'mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect check';
	label.for = layer;
	label.id = layer + 'label';
	componentHandler.upgradeElement(label);
	document.getElementById('mapLayerSwitcher').appendChild(label);
	if (on === true ) {document.getElementById(layer + 'label').MaterialCheckbox.check();}
}

$("#mapLayerSwitcher").on('change', '.mdl-checkbox', function(e) {
	var layer = e.target.id;
	console.log($(e));
	if (layer != 'checkbox-0') {
		!map.hasLayer(mapLayers[layer])
		? map.addLayer(mapLayers[layer])
		: map.removeLayer(mapLayers[layer])

	}
});

/*
* Check all checkboxes code
*/
/*
$("#checkall input").change(function() {
		var listaElementos = document.querySelectorAll('.check');

		for(var i=0, n=listaElementos.length; i<n; i++){
			var element = listaElementos[i];

			if($('#checkall input').is(":checked")) {
				element.MaterialCheckbox.check();
	  	}
		  else {
				element.MaterialCheckbox.uncheck();
		  }
		}
	});

	$('.check').change(function(){

		var listaElementos = document.querySelectorAll('.check');

		for(var i=0, n=listaElementos.length; i<n; i++){
			var element = listaElementos[i];
			if($('.check input:checked').length == $('.check input').length ) {
				document.querySelector('#checkall').MaterialCheckbox.check();
			}else{
				document.querySelector('#checkall').MaterialCheckbox.uncheck();
			}
		}
	});*/

function layerSwitcher(e) {
  console.log($(e))
}

var searchControl;

var map = new L.map('map', {
  center: {% if page.center %}{{page.center}}{% else %}[39,-82]{% endif %},
  zoom: {% if page.zoom %}{{page.zoom}}{% else %}10{% endif %},
  zoomControl: false
});

L.hash(map);

/* =================================*/
var materialOptions = {
  fab: true,
  miniFab: true,
  rippleEffect: true,
  toolTips: false,
  color: 'primary'
}

/* Material layer control:*/
//var layerControl = new L.Control.MaterialLayers(null, null, {position: 'bottomright', materialOptions: materialOptions}).addTo(map);

/* Material zoom control:*/
var materialZoomControl = new L.Control.MaterialZoom({position: 'topright'}).addTo(map);

/* Material fullscreen control:*/
var materialFullscreen = new L.Control.MaterialFullscreen({position: 'topright', materialOptions: {toolTips: false} }).addTo(map);

/*Search location (geocode) control*/
/*var materialGeocodeControl =  new L.Control.MaterialGeocoderControl('mapbox.places', {position: 'topleft', autoComplete: true}).addTo(map);*/

var basemaps = []

basemaps["streets"] = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
	maxZoom: 19,
	attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
});

basemaps["contrast"] = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}.{ext}', {
	attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
	subdomains: 'abcd',
	minZoom: 0,
	maxZoom: 20,
	ext: 'png'
});

{% if page.basemap %}
var currentBasemap = "{{page.basemap}}";
basemaps[currentBasemap].addTo(map);
{%else%}
var currentBasemap = "streets";
streets.addTo(map);
{% endif %}

//layerControl.addBaseLayer(basemaps["streets"], "Streets");

//layerControl.addBaseLayer(basemaps["contrast"], "Contrast");

$(".mdl-radio").change(function() {
  basemapSwitch(this);
});

function basemapSwitch(e) {
  console.log($(e));
  if($(e).hasClass('is-checked')) {
    var newBasemap = ($(e).attr('for')).toString();
    console.log(newBasemap);
    console.log(currentBasemap);
    if (currentBasemap != newBasemap) {
      map.removeLayer(basemaps[currentBasemap]);
      map.addLayer(basemaps[newBasemap]);
      currentBasemap = newBasemap;
    }
  }
}

{% if page.layers %}
{% for layer in page.layers %}
{% assign words = layer.name | split: ' ' %}
{% capture layername %}{% for word in words %}{{ word | capitalize }}{% endfor %}{%endcapture%}
{% if layer.type == "wms" %}
map.createPane('wmspane');
map.getPane('wmspane').style.zindex = 250;
mapLayers["{{layername}}"] = L.tileLayer.wms("{{layer.url}}", {
  layers: {% for layer in layer.layers %}'{{layer}}{% unless forloop.last %},{% endunless %}{%endfor%}',
  transparent: true,
  format: 'image/{{layer.format}}',
	pane: 'wmspane',
	opacity: {% if layer.opacity %}{{layer.opacity}}{% else %}0.8{%endif %}
}).addTo(map);
addMapLayers("{{layername}}", "{{layer.name}}", true);
{%else%}
/*{{layername}}*/

addMapLayers("{{layername}}", "{{layer.name}}", true);

mapLayers["{{layername}}"] = new L.geoJson(null, {
  style: {
    color: {% if layer.color %}"{{layer.color}}"{% else%}"skyblue"{%endif%},
    fillColor: {% if layer.color %}"{{layer.fill}}"{% else%}"skyblue"{%endif%},
    weight: {% if layer.weight %}{{layer.weight}}{% else%}4{%endif%}
  },
  onEachFeature: function(feature, shape) {
    {% if layer.popup == 'all'%}/*test*/
    var popupText = "";
    for (var k in feature.properties) {
      var v = String(feature.properties[k]);
      popupText += '<strong>' + k + '</strong><br>' + v + '<br>' + '<hr style="margin:5px 0px;">';
    };
    shape.bindPopup(popupText);
    {% elsif layer.popup %}shape.bindPopup({% for field in layer.popup %}feature.properties["{{field}}"] + '<br />'{% unless forloop.last %}+{% endunless %}{%endfor%});{% endif%}
    {% if layer.tooltip %}shape.bindTooltip({% for tip in layer.tooltip %}feature.properties["{{tip}}"] + '<br />'{% unless forloop.last %}+{% endunless %}{%endfor%}, {
      sticky: true
    });{%endif%}
  }
}).addTo(map);

componentHandler.upgradeAllRegistered();

var {{layername}}Data = omnivore.{{layer.type}}('{{layer.url}}', null, mapLayers["{{layername}}"]);//{{layer.fitBounds}}
{% if layer.fit == true %}{{layername}}Data.on('ready', function() {
  map.fitBounds({{layername}}Data.getBounds());

  {% if layer.search and layer.search != "osm" %}
	document.getElementById('mapSearchControl').style.display = 'block';
  var prop = 'Search ' + '{{layername}}';
  searchControl = new L.Control.Search({
    /*can only search one layer or layer group at a time*/
    layer: mapLayers["{{layername}}"],
    propertyName: "{{layer.search}}",
    container: "mapSearchControl",
    textPlaceholder: prop,
    marker: false,
    autoType: false,
    autoCollapse: false,
    minLength: 2,
    zoom:null,
    collapsed: false,
  }).addTo(map);

  searchControl.on("search:locationfound", function(e) {
    console.log(e);
    e.layer.openPopup();
		map.flyToBounds(e.layer.getBounds());
    searchControl.collapse()
  });
  $("#searchtext" + prop.length).on('input',function() {
    $('.search-tooltip').width($('.search-tooltip').parent().width());
  });
  {% endif %}

});{% endif %}
{%endif%}
//layerControl.addOverlay({{layername}}, "{{layer.name}}");
{%endfor%}
{%endif%}
{% if page.search == "osm" %}
document.getElementById('mapSearchControl').style.display = 'block';
searchControl = new L.Control.Search({
  url: 'https://nominatim.openstreetmap.org/search?format=json&q={s}',
  jsonpParam: 'json_callback',
  propertyName: 'display_name',
	container: "mapSearchControl",
  propertyLoc: ['lat','lon'],
  textPlaceholder: 'Search Addresses',
  circleLocation: false,
  autoType: false,
  autoCollapse: false,
  minLength: 2,
  zoom:13,
  collapsed: false
}).addTo(map);

searchControl.on("search:locationfound", function() {
  //console.log('t');
  searchControl.collapse()
});
$("#searchtext16").on('input',function() {
  $('.search-tooltip').width($('.search-tooltip').parent().width());
});
$("#searchtext16").on('change',function() {
  $('.search-tooltip').width($('.search-tooltip').parent().width());
});
{% endif %}

</script>

{{content}}
