      <header class="demo-header mdl-layout__header mdl-color--white mdl-color-text--grey-900">
        <div class="mdl-layout__header-row">
          <span id="navTitle" class="mdl-layout-title">{{page.title}}</span>
          <div class="mdl-layout-spacer"></div>
          <!--div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable"-->
          <div id="materialSearch" class="android-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--align-right mdl-textfield--full-width" style="display:none;">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" placeholder="Search..." id="search">
              <label class="mdl-textfield__label" for="search" >Enter your query...</label>
            </div>
          </div>
          {% if page.layout == "map" %}
          <!--button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
            <i class="material-icons">layers</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
            <li class="mdl-menu__item">Streets</li>
            <li class="mdl-menu__item">Light</li>
            <li class="mdl-menu__item">Dark</li>
            <li class="mdl-menu__item">Satellite</li>
          </ul-->
          {% endif %}
        </div>
      </header>
