      <header class="demo-header mdl-layout__header mdl-color--white mdl-color-text--grey-900">
        <div class="mdl-layout__header-row">
          <span id="navTitle" class="mdl-layout-title">{{page.title}}</span>
          <div class="mdl-layout-spacer"></div>
          <!--div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable"-->
          <div id="materialSearch" class="android-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--align-right mdl-textfield--full-width">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" placeholder="Search..." id="search">
              <label class="mdl-textfield__label" for="search" >Enter your query...</label>
            </div>
          </div>
          {% if page.layout == "material-maps" %}
          <!--button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
            <i class="material-icons">layers</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
            <li class="mdl-menu__item">Streets</li>
            <li class="mdl-menu__item">Light</li>
            <li class="mdl-menu__item">Dark</li>
            <li class="mdl-menu__item">Satellite</li>
          </ul-->
          {% endif %}
        </div>
      </header>
      <!--div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50"-->
      <div class="demo-drawer mdl-layout__drawer mdl-color--grey-100 mdl-color-text--grey-900">
        <header class="demo-drawer-header">
          <div id="map-sidebar--title"><h4>{{page.title}}</h4></div>
          <div class="demo-avatar-dropdown">
            <span class="mdl-color-text--grey-600">Map Links</span>
            <div class="mdl-layout-spacer"></div>
            <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
              <i class="material-icons" role="presentation">arrow_drop_down</i>
              <span class="visuallyhidden">Accounts</span>
            </button>
            <ul id="map-sidebar--link-menu" class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
              <a href="{{site.baseurl}}" class="mdl-menu__item mdl-js-ripple-effect"><li>Gallery</li></a>
              <a href="{{site.baseurl}}" class="mdl-menu__item mdl-js-ripple-effect"><li>Gallery</li></a>
              <a href="{{site.baseurl}}" class="mdl-menu__item mdl-js-ripple-effect"><li>Gallery</li></a>
            </ul>
          </div>
        </header>
        <nav class="demo-navigation mdl-navigation mdl-color--white mdl-color-text--grey-900">
          {% if page.layout == 'material-gallery' %}{% include gallery-sidebar-nav.html %}{% endif %}
          <div class="mdl-layout-spacer"></div>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>
        </nav>
      </div>
