
html, body {
  width: 100%;
  height: 100%;
}
* {
  font-family: Roboto, sans-serif;
}
h1,h2,h3,h4,h5,h6,mdl-card__title-text {
  font-family: Montserrat;
}
.mdl-textfield__input {
  font-family: "Roboto","Arial",sans-serif;
}
td, th, table {
  border:none!important;
}
input::-webkit-input-placeholder {
  color: rgba(0,0,0,.26)!important;
}

input:-moz-placeholder { /* Firefox 18- */
  color: rgba(0,0,0,.26)!important;
}

input::-moz-placeholder {  /* Firefox 19+ */
  color: rgba(0,0,0,.26)!important;
}

input:-ms-input-placeholder {
  color: rgba(0,0,0,.26)!important;
}
.mdl-layout__header .mdl-layout__drawer-button {
background-color: transparent;
}
#map {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
#map-sidebar--link-menu a {
  text-decoration: none;
  font-size: 16px;
  color: #304ffe;
  font-weight: 500;
}
h5 {
  margin: 6px;
}
/*div reveal maps layer switcher*/
.md-reveal {
  -webkit-transition: height .22s ease-out;
  -moz-transition: height .22s ease-out;
  -o-transition: height .22s ease-out;
  transition: height .22s ease-out;
  overflow:hidden;
  border-bottom: solid 1px #eee;
}
button.md-reveal--title  {
  width:100%;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: .02em;
  padding:12px;
}
.md-reveal--title {
  border-top: solid 1px #eee;
  padding:8px;
  height: auto;
}
.md-reveal--hidden {
  height:0;
  overflow:hidden;
}
.md-reveal .mdl-radio,
.md-reveal .mdl-checkbox {
  margin: 10px 0;
}
.md-reveal .md-small-caps {
  font-size: smaller;
  text-transform: uppercase;
  color: gray;
}
.md-reveal--list {
  padding-left: 68px;
}
/*Sidebar*/
/*.mdl-layout__drawer {
  margin-top: 68px;
  width: 340px;
  max-width: 100%;
  transform: translateX(-350px);
  max-height: calc(100vh-76px);
  left: 6px;
}*/
.mdl-layout__drawer {
  width: 280px;
  max-width: 100%;
  transform: translateX(-290px);
}
@media screen and (min-width:1025px) {
  .mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen)>.mdl-layout__header {
    margin-left: 280px;
    width: calc(100% - 280px);
  }
  .mdl-layout--fixed-drawer>.mdl-layout__content {
    margin-left: 280px;
  }
}
.demo-drawer-header {
  height: auto;
}
/*custom map controls css*/
.leaflet-control-search .search-tip {
  background: #f5f5f5;
  border-radius: 0;
}
.leaflet-control-search .search-tooltip  {
  background-color: white;
  box-shadow: 0px 2px 6px rgba(0,0,0,.4);
  max-height:600px;;
}
.leaflet-control-search .search-cancel {
  height: 20px;
  position: relative;
  right: 0px;
  margin-top: 10px;
  filter: alpha(opacity=80);
  float: right;
}
.leaflet-control-search .search-input {
  display: block;
  border: none;
  border-radius: 0;
  height: 26px;
  padding: 5px 10px;
  font-size: 16px;
}
.search-button {
  display: none!important;
}
input:focus, textarea:focus {
  outline: none;
}
.leaflet-top.leaflet-left {
  max-width: 75%;
  left: 4px;
}
.leaflet-control-container .leaflet-control-search .search-tooltip,
.leaflet-container .leaflet-control-search {
  border-radius: 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  background: white;
  background-color: white;
  max-width:100%;
}
.leaflet-control-container .leaflet-control-search .search-input {
  max-width: 85%!important;
  font-family: Roboto, sans-serif;
}
.leaflet-control-container .leaflet-control-search .search-tooltip {
  max-width: 100%;
  background: white;
  background-color: white;
}
.leaflet-control-container .leaflet-control-search .search-tip {
  background: white;
  font-family: Roboto, sans-serif;
}
/**/
.android-drawer-separator {
  height: 1px;
  background-color:#eee !important;
  margin: 8px 0;
}
.mdl-layout__header-row {
  padding: 0 16px 0 50px!important;
}
.demo-avatar-dropdown .demo-drawer .mdl-menu__container {
  z-index: auto;
}
.leaflet-pane img {
  vertical-align: inherit;
}
.demo-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: #212121 !important;
}
.demo-header {
  display: none;
}
.demo-layout .demo-navigation .mdl-navigation__link:hover {
  background-color: #e0e0e0;
}
.demo-content {
  max-width: 1344px;
}
.mdl-card--square {
  width: 320px;
}
.demo-updates .mdl-card__title {
  min-height: 180px;
  max-height: 180px;
  background-image: url(images/dog.png);
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1024px) {
  #map {
    width: 100%;
  }
  .demo-header {
    display: block;
  }
}
@media screen and (max-width: 1600px) and (min-width: 1344px) {
  .mdl-card--square {
    width: 24%;
    margin: 8px auto;
  }
}
@media screen and (max-width: 1343px) and (min-width: 844px) {
  .mdl-card--square {
    width: 31%;
    margin: 8px auto;
  }
}
@media screen and (max-width: 479px) {
  .mdl-card--square {
    width: 100%;
    margin: 8px auto;
  }
  .leaflet-top.leaflet-left,
  .leaflet-control-search.search-exp.leaflet-control {
    width: 100%;
  }
}
