/*global customizations*/
/*{font-family: 'Montserrat', sans-serif;}*/
html, body {
  height:100%
}
p {
  font-size: 1.3rem;
  letter-spacing: 0;
  margin: 0 0 16px;
}
/*mdl customizations*/
.mdl-layout__title, .mdl-layout-title, h1, h2, h3 {
  font-weight: 700;
}
h5, h6 {
  margin: 10px 0 10px;
  font-family: 'Montserrat', sans-serif;
}
.mdl-spinner {
  width: 80px;
  height: 80px;
}
.mdl-spinner__circle {
  border-width: 9px;
}
{% if page.theme == 'light' %}hr {border-top: 2px solid rgba(0,0,0,.1);}
{% else %}hr {border-top: 2px solid rgba(0,0,0,.1);}{% endif %}

.mdl-layout__title, .mdl-layout-title, h1, h2, h3, h4 {font-family: 'Open Sans', sans-serif;}
.mdl-layout__header-row {
  padding-right: 20px;
 }
.mdl-menu__item a {
  text-decoration: none;
}
.demo-drawer-header {
 height:auto
}
.demo-drawer-header h1, h2, h3, h4 {
  margin-top:0;
}
.mdl-layout__drawer-button:hover {
  background-color: rgba(158,158,158,.2);
}
.mdl-layout__drawer-button {
  /*line-height: 37px;
  height: 30px;
  width: 30px;
  margin: 0;
  position: absolute;
  top:10px;
  left:10px;
  color: black;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);*/
}
.mdl-layout__drawer {
  overflow-x: hidden;
}
.mdl-button--icon {
    border-radius: 2px;
    height: 30px;
    min-width: 30px;
    width: 30px;
}
.mdl-textfield__input {
  font-family: Montserrat, sans-serif;
  width: 95%;
}
.mdl-textfield__label {
  width: 95%;
}
/*map styles*/
.zoom-in {
  position: absolute;
  bottom: 100px;
  right: 10px;
  z-index: 9999;
  background: white;
}
/*map styles*/
#map-loading {
  background-color:transparent;
  position:absolute;
  z-index:9999;
  top:48%;
  left:48%;
}

#map-controls--search {
  margin-left: 15px;
}
#map-controls--search-results {
  background: #fff;
  margin: 0 10px;
  border: none;
  border-radius: 2px;
  top: 0;
  left: 0;
  overflow: auto;
  opacity: 1;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  max-height: 600px;
  overflow: auto;
}
#map-controls--search-results li {
  width: 90%;
  font-size: 0.9rem;
}
#map-controls--search-results a {
  text-decoration: none;
}
#map-controls--search-input {
  color: #1e1e1e;
  background-color: white;
  border-radius: 2px;
}
#map-controls--search .search-close {
  float: right;
  position: absolute;
  /* right: 0; */
  left: 160px;
  background-color: black;
  border-radius: 50%;
  /* width: 1.5rem; */
  color: white;
  padding: 0px 6px;
  line-height: 20px;
  opacity: 0.7;
}
/*mapbox customizations*/
/*@media screen and (max-width: 768px) {
  .mapboxgl-ctrl.mapboxgl-ctrl-attrib {
    display: none;
  }
}*/

/*#attribution-button {
  opacity: 0.8;
}*/
#map-baselayers--container .mdl-menu__container.is-visible,
#map-baselayers--container .mdl-menu__container.is-animating {
  margin-top: -30px;
  margin-right: 40px;
}
.mdl-button--icon .mdl-button__ripple-container {
  border-radius: 0;
}
#map-layer--info-txt {
  width:92%
}
#map {
  background-color: #263238;
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  bottom:0;
  /*
  width: calc(100% - 16px);
  bottom: 8px;
  height: calc(100% - 16px);
  top: 8px;*/
}
#map-controls .mdl-tooltip {
  position: absolute;
}
#map-controls .mdl-card {
  width:95%;
  margin:5px;
  height:auto;
}
#map-controls .mdl-card__supporting-text {
  width:auto;
}
#map-controls .mdl-card__title {
  display: block;
}
#map-baselayers--container {
  margin: 10px;
  color:black;
  z-index:3;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 2px;
}
#map-baselayers {
  background-color:white;
  box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);
}
#map-legend {
  background: white;
  margin: 10px;
  height: auto;
  width: 200px;
  border-radius: 2px;
  padding: 10px;
}
#map-about--card.mdl-card {
  width: 95%;
  margin:5px;
  height: auto;
  display: none;
  position: absolute;
  top: 160px;
  z-index:2;
}
#map-controls--filters ul,
#map-controls ul {
  padding-left: 15px;
  list-style: none;
}
#attribution-container {
  position: absolute;
  bottom: 0;
  right: 9px;
  z-index: 2;
}
#attribution-button {

}
#attribution {
  display: none;
  z-index: 999;
  background: rgba(97,97,97,.9);
  border-radius: 2px;
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  line-height: 14px;
  max-width: 170px;
  padding: 8px;
  text-align: center;
}

@media screen and (max-width: 420px) {
  #mm-info-box {
    width:95%;
  }
  .mdl-data-table {
    font-size: 11px;
    width:100%;
  }
}

/* mapbox custom css */
.mapboxgl-ctrl-group > button {
  width: 36px;
  height: 37px;
}
.mapboxgl-popup-close-button:hover {
  background-color: white;
  opacity: 1;
  padding: 0px 8px;
  font-size: 2rem;
  font-weight: bold;
}
.mapboxgl-popup-close-button {
  right: -10px;
  top: -10px;
  border-radius: inherit;
  height: 34px;
  width: 34px;
}
/*.mapboxgl-canvas-container.mapboxgl-interactive,
.mapboxgl-ctrl-nav-compass {
  cursor:pointer;
}*/
/*mapbox customizations*/
/*@media screen and (max-width: 768px) {
  .mapboxgl-ctrl.mapboxgl-ctrl-attrib {
    display: none;
  }
}*/
.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
  background: dimgray;
  color: lightgray;
  font-size: 11px;
  text-align: center;
  opacity: 0.8;
  border-top-left-radius: 2px;
}
.mapboxgl-ctrl-attrib.compact {
  padding-right: 26px;
}
.mapboxgl-ctrl-attrib a {
  color: rgb(64,196,255);
}
/*.mapboxgl-ctrl-top-right {
  top: 40px;
}*/
.mapboxgl-ctrl-group {
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.2),0 1px 8px 0 rgba(0,0,0,.12);
}
