
html, body {
  width: 100%;
  height: 100%;
}
* {
  font-family: Roboto, sans-serif;
}
h1,h2,h3,h4,h5,h6,mdl-card__title-text {
  font-family: Montserrat;
}
.mdl-textfield__input {
  font-family: "Roboto","Arial",sans-serif;
}
td, th, table {
  border:none!important;
}
input::-webkit-input-placeholder {
  color: rgba(0,0,0,.26)!important;
}

input:-moz-placeholder { /* Firefox 18- */
  color: rgba(0,0,0,.26)!important;
}

input::-moz-placeholder {  /* Firefox 19+ */
  color: rgba(0,0,0,.26)!important;
}

input:-ms-input-placeholder {
  color: rgba(0,0,0,.26)!important;
}
/*header buttons*/
#mm-header--menu {
  position: absolute;
  right: 0;
}
#mm-header--menu-horiz {
  display: none;
}
#mm-header--menu .mdl-button {
  min-width: 20px;
  padding: 0 10px;
}
/*#mm-header--menu-horiz .mdl-button {
  min-width: auto;
}*/
@media screen and (min-width: 600px) {
  #mm-header--menu-horiz {
    display: block;
    margin-right:6px;
  }
  #mm-header--menu-vert {
    display: none;
  }
}
#mm-content {
  transition: margin 0.2s cubic-bezier(.4,0,.2,1);
/*   -webkit-transform-style: preserve-3d;
   transform-style: preserve-3d;
   will-change: transform;
   transition-duration: .2s;
   transition-timing-function: cubic-bezier(.4,0,.2,1);
   transition-property: transform;
   transition-property: transform,-webkit-transform;*/
}
.mdl-button .material-icons {
  margin-top: -3px;
}
.mdl-layout__header .mdl-layout__drawer-button {
  background-color: transparent;
  color: #212121 !important;
}
.mdl-layout__header .md__vert-button {
  top:5px;
  position: absolute;
  right:7px;;
}
.mdl-layout__header-row .mdl-menu__container.is-visible,
.mdl-layout__header-row .mdl-menu__container.is-animating {
  top:4px!important;
  right:10px!important;
}
/*end header and header buttons*/

/*.demo-header {
  display: none;
}*/
.demo-layout .demo-navigation .mdl-navigation__link:hover {
  background-color: #e0e0e0;
}
.demo-content {
  max-width: 1344px;
}
h5 {
  margin: 6px;
}

/*custom accordian 'reveal' for maps layer switcher*/

.mm-reveal, .mdl-card {
  -webkit-transition: height .22s ease-out;
  -moz-transition: height .22s ease-out;
  -o-transition: height .22s ease-out;
  transition: height .22s ease-out;
  overflow:hidden;
  border-bottom: solid 1px #eee;
}
button.mm-reveal--title  {
  width:100%;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: .02em;
  padding:12px;
}
.mm-reveal--icon {
  position: absolute;
  right:6px;
  margin-top:11px;
  color: lightgray;
}
.mm-reveal--title {
  border-top: solid 1px #eee;
  padding:8px;
  height: auto;
}
.mm-reveal--hidden {
  height:0;
  overflow:hidden;
}
.mm-reveal .mdl-radio,
.mm-reveal .mdl-checkbox {
  margin: 10px 0;
}
.mm-reveal .md-small-caps {
  font-size: smaller;
  text-transform: uppercase;
  color: gray;
}
.mm-reveal--list {
  padding-left: 68px;
}
.rotate-90 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
/*end reveal*/
/*Sidebar*/
/*.mdl-layout__drawer {
  margin-top: 68px;
  width: 340px;
  max-width: 100%;
  transform: translateX(-350px);
  max-height: calc(100vh-76px);
  left: 6px;
}*/
#map {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
#map-sidebar--link-menu a {
  text-decoration: none;
  font-size: 16px;
  color: #304ffe;
  font-weight: 500;
}
.mdl-layout__drawer {
  width: 280px;
  max-width: 100%;
  transform: translateX(-290px);
}
@media screen and (min-width:1025px) {
  .mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen)>.mdl-layout__header {
    margin-left: 280px;
    width: calc(100% - 280px);
  }
  .mdl-layout--fixed-drawer>.mdl-layout__content {
    margin-left: 280px;
  }
  /* hide gray background when not mobile - or always?*/
  .mdl-layout__obfuscator,
  .mdl-layout__obfuscator.is-visible {
    display: none;
  }
  #mm-header {
/*    width:100%;
    margin-left: 280px;*/
    display: none;
  }
/*  .mdl-layout__drawer-button {
    margin-left: 280px;
  }*/
}
.demo-drawer-header {
  height: auto;
}

/*custom map controls css*/

.search-button {
  display: none!important;
}
input:focus, textarea:focus {
  outline: none;
}
.android-drawer-separator {
  height: 1px;
  background-color:#eee !important;
  margin: 8px 0;
}
.mdl-layout__header-row {
  padding: 2px 0 0 55px!important;
}
.demo-avatar-dropdown .demo-drawer .mdl-menu__container {
  z-index: auto;
}

.mdl-card {
  -webkit-transition: opacity .22s ease-out;
  -moz-transition: opacity .22s ease-out;
  -o-transition: opacity .22s ease-out;
  transition: opacity .22s ease-out;
}
.mdl-card--square {
  width: 320px;
}
.demo-updates .mdl-card__title {
  min-height: 180px;
  max-height: 180px;
  background-image: url(images/dog.png);
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1024px) {
  #map {
    width: 100%;
  }
  .demo-header {
    display: block;
  }
}
@media screen and (max-width: 1600px) and (min-width: 1344px) {
  .mdl-card--square {
    width: 24%;
    margin: 8px auto;
  }
}
@media screen and (max-width: 1343px) and (min-width: 1024px) {
  .mdl-card--square {
    width: 31%;
    margin: 8px auto;
  }
}
@media screen and (max-width: 1023px) and (min-width: 480px) {
  .mdl-card--square {
    width: 30%;
    margin: 8px auto;
  }
}
@media screen and (max-width: 479px) {
  .mdl-card--square {
    width: 100%;
    margin: 8px auto;
  }
}
/* custom modal*/
.mm-modal {
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  width:100%;
  background: rgba(0,0,0,0.5);
  z-index: 9999;
  display: none;
  overflow-y: auto;
}
.mm-modal-inner {
  position: absolute;
  top: 5%;
  width: 100%;
  transform: none;
  -webkit-transform: none;
  -ms-transform: none;
}
@media screen and (min-width:481px) {
  .mm-modal-inner {
    position: fixed;
    top: 40%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -40%);
    -webkit-transform: translate(-50%, -40%);
    -ms-transform: translate(-30%, -40%);
  }
}
.mm-modal-inner .mdl-card {
  overflow-y: auto;
  max-height: 50%;
  height: 50%;
  margin: 0 auto;
  width: 90%;
  max-width: 480px;
}
.mm-modal-inner .mdl-card__supporting-text {
  line-height: inherit;
}
/* end custom modal*/
/* info window */
/*info box for layer information in maps*/
#mm-info-box {
  z-index: 9999;
  position: absolute;
  top: 2px;
  right: 2px;
  width: auto;
  display: none;
  overflow-y: auto;
  max-height:90%;
  height:auto;
  max-width: 35%;
}
@media screen and (max-width:768px) {
  #mm-info-box {
    max-width: 100%;
  }
}
#mm-info-box .mdl-card__supporting-text {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.3rem;
  line-height: 20px;
}
#mm-info-box .mdl-card__title {
  margin-right: 40px;
}
/*material tables for popups*/
#mm-info-box .mdl-data-table tbody tr {
  height: auto;
}
#mm-info-box .mdl-data-table td:first-of-type {
  padding:5px 5px 5px 10px;
  text-align: left;
}
#mm-info-box .mdl-data-table td:last-of-type {
  padding:5px 10px 5px 5px;
}
#mm-info-box .mdl-data-table tbody tr td {
  height:auto!important;
}
#mm-info-box. mdl-data-table mdl-js-data-table tr {
  height:auto;
}
#mm-info-box .mdl-data-table td {
  height: auto;
  padding: 10px;
}
/* end info window */
