{% for tags in site.tags %}
{% capture tag %}{{ tags | first }}{% endcapture %}
{% for icon in site.data.icons %}
{% if icon.name == tag %}
<div class="mdl-navigation__link mdl-color-text--grey-900 filter" href="" id="{{tag}}"><i class="mdl-color-text--{{icon.color}} material-icons"
role="presentation">{{icon.icon}}</i>{{tag | capitalize}}</div>
{% endif %}
{% endfor%}
{% endfor %}
<div class="mdl-navigation__link mdl-color-text--grey-900" href="" id="reset"><i class="mdl-color-text--grey-900 material-icons" role="presentation">refresh</i>Show All Maps</div>
