<!doctype html>
{% if page.framework == 'calcite' %}{% else %}{% include material-license.html %}{% endif %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{page.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>{{page.title}}</title>

    {% if site.favicon %}
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="/images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="{{site.baseurl}}/images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="{{site.baseurl}}/images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="{{site.baseurl}}/images/favicon.png">
    {%endif%}
    <!-- Material Dashboard theme and fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--see https://getmdl.io/customize/ for many other color themes-->
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-red.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/material-dashboard/styles.css">
    {% if page.layout == 'map'%}
    <!--Leaflet 1.0.3 updated 1/26/2017-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <!-- Leaflet Omnivore Plugin GeoJson KML Etc -->
    <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js'></script>
    <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v0.0.4/Leaflet.fullscreen.min.js'></script>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/plugins/leaflet-material/leaflet-material.css" />
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="{{site.baseurl}}/assets/plugins/leaflet-material/leaflet-material.js"></script>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/plugins/leaflet-search/leaflet-search.min.css" />
    <script src="{{site.baseurl}}/assets/plugins/leaflet-search/leaflet-search.src.js"></script>
    <script src="{{site.baseurl}}/assets/plugins/leaflet-hash.js"></script>
    {%endif%}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/custom-styles.css">
    <style>
    </style>
  </head>
    <body>
      <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
        {% include top-nav.html%}
        <!--div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50"-->
        <div class="demo-drawer mdl-layout__drawer mdl-color--grey-100 mdl-color-text--grey-900">
          <header class="demo-drawer-header">
            <div id="map-sidebar--title"><h4>{{page.title}}</h4></div>
            <div class="demo-avatar-dropdown">
              <span class="mdl-color-text--grey-600">Map Links</span>
              <div class="mdl-layout-spacer"></div>
              <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons" role="presentation">arrow_drop_down</i>
                <span class="visuallyhidden">Accounts</span>
              </button>
              <ul id="map-sidebar--link-menu" class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
                <a href="{{site.baseurl}}/" class="mdl-menu__item mdl-js-ripple-effect"><li>Gallery</li></a>
                <a href="{{site.baseurl}}/" class="mdl-menu__item mdl-js-ripple-effect"><li>Gallery</li></a>
                <a href="{{site.baseurl}}/" class="mdl-menu__item mdl-js-ripple-effect"><li>Gallery</li></a>
              </ul>
            </div>
          </header>
          <nav class="demo-navigation mdl-navigation mdl-color--white mdl-color-text--grey-900">
            {% if page.layout == 'gallery' %}{% include gallery-sidebar-nav.html %}{% endif %}
            <div class="mdl-layout-spacer"></div>
            <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>
          </nav>
        </div>
        <main class="mdl-layout__content mdl-color--grey-100">
          {{content}}
        </main>
      </div>
      {% if page.layout != 'map' %}
      <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>{% endif %}
      {% if page.layout == "gallery" %}
      <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
      <script>
      $('.filter').click(function() {
        var id = $(this).attr('id');
        $('.' + id).fadeIn();
        $('.app').not('.' + id).hide();
      });

      $('#reset').click(function() {
        $('.app').fadeIn();
      });
    </script>{% endif %}
    </body>
</html>
