---
layout: compress
---
<!doctype html>
{% if page.framework == 'calcite' %}{% else %}{% include elements/material-license.html %}{% endif %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{page.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>{{page.title}}</title>

    {% if site.favicon %}
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="/images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="{{site.baseurl}}/images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="{{site.baseurl}}/images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="{{site.baseurl}}/images/favicon.png">
    {%endif%}
    <!-- Material Dashboard theme and fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons|Montserrat|Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <!--see https://getmdl.io/customize/ for many other color themes-->
    {% if page.type == "gallery" %}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/ui-style.css" />
    {% endif %}
    {% if page.map == true%}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/map-style.css" />
    {%endif%}
    <style>
    {% include custom/md-styles.css %}
    </style>
  </head>
    <body>
      <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
        <header class="demo-header mdl-layout__header mdl-color--white mdl-color-text--grey-900">
          <div class="mdl-layout__header-row">
            <span id="navTitle" class="mdl-layout-title">{{page.title}}</span>
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            {% if page.map == true %}
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon md__vert-button" id="hdrbtn">
              <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right mdl-list" for="hdrbtn">
              <li class="mdl-list__item mdl-menu__item mdl-js-ripple-effect">
                <span class="mdl-list__item-primary-content mdl-color-text--black">
                <i class="material-icons mdl-list__item-icon mdl-color-text--black">share</i>
                Share
                </span>
              </li>
              <li class="mdl-list__item mdl-menu__item mdl-js-ripple-effect">
                <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon mdl-color-text--black">print</i>
                Print
              </span>
              </li>
              <li class="mdl-list__item mdl-menu__item mdl-js-ripple-effect">
                <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon mdl-color-text--black">info</i>
                About
              </span>
              </li>
            </ul>
            {% endif %}
          </div>
        </header>
        <!--div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50"-->
        <div class="demo-drawer mdl-layout__drawer mdl-color--grey-100 mdl-color-text--grey-900">
          <header class="demo-drawer-header">
            <div id="map-sidebar--title"><h4>{{page.title}}</h4></div>
            <div class="demo-avatar-dropdown">
              {% if page.map == true %}
              <span class="mdl-color-text--grey-600">
                <!--i class="mdl-color-text--indigo-A500 material-icons"
                role="presentation">reply</i-->
                <a class="mdl-color-text--indigo-A500" href="{% if site.baseurl != "" %}{{site.baseurl}}{% else %}/{%endif%}"><em>Return to Map Gallery</em></a></span>
              {% else %}<br />{% endif %}
              <div class="mdl-layout-spacer"></div>
              <!--button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons" role="presentation">arrow_drop_down</i>
                <span class="visuallyhidden">Accounts</span>
              </button>
              <ul id="map-sidebar--link-menu" class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
                <a href="{{site.baseurl}}/" class="mdl-menu__item mdl-js-ripple-effect"><li>Gallery</li></a>
                <a href="{{site.baseurl}}/" class="mdl-menu__item mdl-js-ripple-effect"><li>Gallery</li></a>
                <a href="{{site.baseurl}}/" class="mdl-menu__item mdl-js-ripple-effect"><li>Gallery</li></a>
              </ul-->
            </div>
          </header>
          <div class="mdl-color-text--primary mdl-typography--text-center">
          </div>
          <nav id="sidebar" class="demo-navigation mdl-navigation mdl-color--white mdl-color-text--grey-900">
            {% if page.type == 'gallery' %}{% include elements/gallery-sidebar-nav.html %}{% endif %}
            {% if page.map == true %}{% include elements/map-sidebar-nav.html %}{% endif %}
            <div class="mdl-layout-spacer">&nbsp;</div>
            <!--ABout this Map Card-->
            <div class="mdl-typography--text-center mdl-color--grey-100">
              <button id="map-about--btn" type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--primary">
                  <i class="material-icons">help</i>
              </button>
            </div>
          </nav>
        </div>
        <main class="mdl-layout__content mdl-color--grey-100">
        {% if page.map == true %}
          <div id="map"></div>
        {% endif %}
        {% if page.type == 'gallery' %}{% include elements/gallery-list.html %}{% endif %}
        </main>
      </div>
      {% if page.type == 'gallery' %}
      <script src="{{site.baseurl}}/assets/gallery-bundle.js"></script>
      {% endif %}
      {% if page.map == true %}
      <script src="{{site.baseurl}}/assets/map-bundle.js"></script>
      <script>{% include elements/map.js %}</script>
      {{content}}
      {% endif %}
    </body>
</html>
