---
layout: default
---
<div id="map">
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="{{site.baseurl}}/assets/plugins/leaflet-material/leaflet-material-custom.js"></script>
<script>

/*
* Reveal custom layer control
*/
/*var revealToggles = document.getElementsByClassName('md-reveal--title');
for (var i = 0; i < revealToggles.length; i++) {
    revealToggles[i].addEventListener('click', function() {
      console.log(this.children[1]);
      var ht = this.children[1].scrollHeight;
      console.log(ht);
      this.children[1].height =  ht + "px!important";
      console.log(this.children[1].height)
      this["aria-expanded"] = true;
      console.log(this["aria-expanded"]);
      return false
    });
}*/
$(".md-reveal--title").on('click', function(e) {
  console.log(e);
  var v = e.target.value;
  if (v < 1) {
    console.log(e.target.parentElement["aria-expanded"])
    var x = e.target.parentElement.children[1];
    console.log(x);
    var ht = x.scrollHeight;
    x.style.height =  ht + "px";
    e.target.parentElement["aria-expanded"] = true;
    e.target.parentElement.children[0].value = 1;
    return false
  }
  if (v > 0) {
    var x = e.target.parentElement.children[1];
    var ht = x.scrollHeight;
    x.style.height =  0;
    e.target.parentElement["aria-expanded"] = false;
    e.target.parentElement.children[0].value = 0;
  }
});


/*var btn = document.getElementById("button");
var outer = document.getElementById("outer");
var inner = document.getElementById("inner");
btn.addEventListener('click', function() {
	if (this.value < 1) {
    var ht = document.getElementById('inner').scrollHeight;
		inner.style.height = ht + "px";
    outer["aria-expanded"] = true;
		this.value = 1;
    return false;
	}
	if (this.value > 0) {
		inner.style.height = "0";
		this.value = 0;
    outer["aria-expanded"] = false;
	}
});*/

var searchControl;

var map = new L.map('map', {
  center: {% if page.center %}{{page.center}}{% else %}[39,-82]{% endif %},
  zoom: {% if page.zoom %}{{page.zoom}}{% else %}10{% endif %},
  zoomControl: false
});

L.hash(map);

/*hide title on search click*/
/*$("#materialSearch").click(function() {
  $("#navTitle").hide();
});*/

/*map.on('moveend click', function() {
  if ($("#materialSearch").hasClass('is-focused')){}else {
    $("#navTitle").show();
  }
});*/

/* =================================*/
var materialOptions = {
  fab: true,
  miniFab: true,
  rippleEffect: true,
  toolTips: false,
  color: 'primary'
}

/* Material layer control:*/
var layerControl = new L.Control.MaterialLayers(null, null, {position: 'bottomright', materialOptions: materialOptions}).addTo(map);

/* Material zoom control:*/
var materialZoomControl = new L.Control.MaterialZoom({position: 'topright'}).addTo(map);

/* Material fullscreen control:*/
var materialFullscreen = new L.Control.MaterialFullscreen({position: 'topright', materialOptions: {toolTips: false} }).addTo(map);

/*Search location (geocode) control*/
/*var materialGeocodeControl =  new L.Control.MaterialGeocoderControl('mapbox.places', {position: 'topleft', autoComplete: true}).addTo(map);*/

var streets = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
	maxZoom: 19,
	attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
});

var dark = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}.{ext}', {
	attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
	subdomains: 'abcd',
	minZoom: 0,
	maxZoom: 20,
	ext: 'png'
});

{% if page.basemap %}
{{page.basemap}}.addTo(map);
{%else%}
streets.addTo(map);
{% endif %}

layerControl.addBaseLayer(streets, "Streets");

layerControl.addBaseLayer(dark, "Contrast");

{% if page.layers %}
{% for layer in page.layers %}
{% assign words = layer.name | split: ' ' %}
{% capture layername %}{% for word in words %}{{ word | capitalize }}{% endfor %}{%endcapture%}
{% if layer.type == "wms" %}
var {{layername}} = L.tileLayer.wms("{{layer.url}}", {
  layers: {% for layer in layer.layers %}'{{layer}}{% unless forloop.last %},{% endunless %}{%endfor%}',
  transparent: true,
  format: 'image/{{layer.format}}'
}).addTo(map);
{%else%}
/*{{layername}}*/
var tableEntry = '<tr><td id="1" class="mdl-data-table__cell--non-numeric">{{layer.name}}</td></tr>';
$("#layerTableBody").append(tableEntry.toString());
var {{layername}} = new L.geoJson(null, {
  style: {
    color: {% if layer.color %}"{{layer.color}}"{% else%}"skyblue"{%endif%},
    fillColor: {% if layer.color %}"{{layer.fill}}"{% else%}"skyblue"{%endif%},
    weight: {% if layer.weight %}{{layer.weight}}{% else%}4{%endif%}
  },
  onEachFeature: function(feature, shape) {
    {% if layer.popup == 'all'%}/*test*/
    var popupText = "";
    for (var k in feature.properties) {
      var v = String(feature.properties[k]);
      popupText += '<strong>' + k + '</strong><br>' + v + '<br>' + '<hr style="margin:5px 0px;">';
    };
    shape.bindPopup(popupText);
    {% elsif layer.popup %}shape.bindPopup({% for field in layer.popup %}feature.properties["{{field}}"] + '<br />'{% unless forloop.last %}+{% endunless %}{%endfor%});{% endif%}
    {% if layer.tooltip %}shape.bindTooltip({% for tip in layer.tooltip %}feature.properties["{{tip}}"] + '<br />'{% unless forloop.last %}+{% endunless %}{%endfor%}, {
      sticky: true
    });{%endif%}
  }
}).addTo(map);

componentHandler.upgradeAllRegistered();

var {{layername}}Data = omnivore.{{layer.type}}('{{layer.url}}', null, {{layername}});//{{layer.fitBounds}}
{% if layer.fit == true %}{{layername}}Data.on('ready', function() {
  map.fitBounds({{layername}}.getBounds());

  {% if layer.search and layer.search != "osm" %}
  var prop = 'Search ' + '{{layername}}';
  searchControl = new L.Control.Search({
    /*can only search one layer or layer group at a time*/
    layer: {{layername}},
    propertyName: "{{layer.search}}",
    textPlaceholder: prop,
    marker: false,
    autoType: false,
    autoCollapse: false,
    minLength: 2,
    zoom:13,
    collapsed: false
  }).addTo(map);

  searchControl.on("search:locationfound", function(e) {
    console.log(e);
    e.layer.openPopup();
    searchControl.collapse()
  });
  $("#searchtext" + prop.length).on('input',function() {
    $('.search-tooltip').width($('.search-tooltip').parent().width());
  });
  {% endif %}

});{% endif %}
{{layername}}.on('click', function (e) {
  //console.log(e)
});
{%endif%}
layerControl.addOverlay({{layername}}, "{{layer.name}}");
{%endfor%}
{%endif%}
{% if page.search == "osm" %}
searchControl = new L.Control.Search({
  url: 'https://nominatim.openstreetmap.org/search?format=json&q={s}',
  jsonpParam: 'json_callback',
  propertyName: 'display_name',
  propertyLoc: ['lat','lon'],
  textPlaceholder: 'Search Addresses',
  circleLocation: false,
  autoType: false,
  autoCollapse: false,
  minLength: 2,
  zoom:13,
  collapsed: false
}).addTo(map);

searchControl.on("search:locationfound", function() {
  //console.log('t');
  searchControl.collapse()
});
$("#searchtext16").on('input',function() {
  $('.search-tooltip').width($('.search-tooltip').parent().width());
});
$("#searchtext16").on('change',function() {
  $('.search-tooltip').width($('.search-tooltip').parent().width());
});
{% endif %}
</script>

{{content}}
