---
layout: default
---
<div id="map">
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="{{site.baseurl}}/assets/plugins/leaflet-material/leaflet-material-custom.js"></script>
<script>
'use strict';

var map = new L.map('map', {
  center: {% if page.map-options.center %}{{page.map-options.center}}{% else %}[39,-82]{% endif %},
  zoom: {% if page.map-options.zoom %}{{page.map-options.zoom}}{% else %}10{% endif %},
  zoomControl: false
});

/*hide title on search click*/
$("#materialSearch").click(function() {
  $("#navTitle").hide();
});

map.on('moveend click', function() {
  if ($("#materialSearch").hasClass('is-focused')){}else {
    $("#navTitle").show();
  }
});

// =================================
var materialOptions = {
  fab: true,
  miniFab: true,
  rippleEffect: true,
  toolTips: false,
  color: 'primary'
}

var searchControl = new L.Control.Search({
  url: 'https://nominatim.openstreetmap.org/search?format=json&q={s}',
  jsonpParam: 'json_callback',
  propertyName: 'display_name',
  propertyLoc: ['lat','lon'],
  circleLocation: false,
  autoType: false,
  autoCollapse: false,
  minLength: 2,
  zoom:13,
  textPlaceholder: 'Search Addresses',
  collapsed: false
}).addTo(map);

searchControl.on("search:locationfound", function() {
  console.log('t');
  searchControl.collapse()
})

// Material layer control:
var layerControl = new L.Control.MaterialLayers(null, null, {position: 'bottomright', materialOptions: materialOptions}).addTo(map);

// Material zoom control:
var materialZoomControl = new L.Control.MaterialZoom({position: 'topright'}).addTo(map);

// Material fullscreen control:
var materialFullscreen = new L.Control.MaterialFullscreen({position: 'topright', materialOptions: {toolTips: false} }).addTo(map);

// Search location (geocode) control
/*var materialGeocodeControl =  new L.Control.MaterialGeocoderControl('mapbox.places', {position: 'topleft', autoComplete: true}).addTo(map);*/

var osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
	maxZoom: 19,
	attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
}).addTo(map);

var dark = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}.{ext}', {
	attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
	subdomains: 'abcd',
	minZoom: 0,
	maxZoom: 20,
	ext: 'png'
});

layerControl.addBaseLayer(osm, "Streets");
layerControl.addBaseLayer(dark, "Contrast");
{% if page.layers %}
{% for layer in page.layers %}{% assign words = layer.name | split: ' ' %}{% capture layername %}{% for word in words %}{{ word | capitalize }}{% endfor %}{%endcapture%}
var {{layername}} = omnivore.{{layer.filetype}}('{{layer.url}}').addTo(map);//{{layer.fitBounds}}
{% if layer.fitBounds == true %}{{layername}}.on('ready', function() {
  map.fitBounds({{layername}}.getBounds())
});{% endif %}
{{layername}}.on('click', function (e) {
  console.log(e)
});
layerControl.addOverlay({{layername}}, "{{layer.name}}");
{%endfor%}{%endif%}
</script>

{{content}}
