---
layout: material-dashboard
---
<style>
.leaflet-control-search .search-cancel {
    height: 20px;
    position: relative;
    right: 0px;
    margin-top: 10px;
    filter: alpha(opacity=80);
    float: right;
}
.leaflet-control-search .search-input {
    display: block;
    border: none;
    border-radius: 0;
    height: 26px;
    padding: 5px 10px;
    font-size: 16px;
}
.search-button {
  display: none!important;
}
.leaflet-container .leaflet-control-search {
  border-radius: 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
input:focus, textarea:focus {
    outline: none;
}
</style>
<div id="map">
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="{{site.baseurl}}/assets/plugins/leaflet-material/leaflet-material-custom.js"></script>
<script>
'use strict';

var map = new L.map('map', {
  center: {% if page.map-options.center %}{{page.map-options.center}}{% else %}[39,-82]{% endif %},
  zoom: {% if page.map-options.zoom %}{{page.map-options.zoom}}{% else %}10{% endif %},
  zoomControl: false
});

/*hide title on search click*/
$("#materialSearch").click(function() {
  $("#navTitle").hide();
});

map.on('moveend click', function() {
  if ($("#materialSearch").hasClass('is-focused')){}else {
    $("#navTitle").show();
  }
});

// =================================
var materialOptions = {
  fab: true,
  miniFab: true,
  rippleEffect: true,
  toolTips: true,
  color: 'primary'
}

var searchControl = new L.Control.Search({
  url: 'https://nominatim.openstreetmap.org/search?format=json&q={s}',
  jsonpParam: 'json_callback',
  propertyName: 'display_name',
  propertyLoc: ['lat','lon'],
  circleLocation: false,
  autoType: false,
  autoCollapse: false,
  minLength: 2,
  zoom:13,
  textPlaceholder: 'Search Addresses',
  collapsed: false
}).addTo(map);

// Material layer control:
var layerControl = new L.Control.MaterialLayers(null, null, {position: 'topleft', materialOptions: materialOptions}).addTo(map);

// Material zoom control:
var materialZoomControl = new L.Control.MaterialZoom({position: 'topright'}).addTo(map);

// Material fullscreen control:
var materialFullscreen = new L.Control.MaterialFullscreen({position: 'topright', materialOptions: {toolTips: true} }).addTo(map);

// Search location (geocode) control
/*var materialGeocodeControl =  new L.Control.MaterialGeocoderControl('mapbox.places', {position: 'topleft', autoComplete: true}).addTo(map);*/

var osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
	maxZoom: 19,
	attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
}).addTo(map);

layerControl.addBaseLayer(osm, "Streets");
{% if page.layers %}
{% for layer in page.layers %}{% assign words = layer.name | split: ' ' %}{% capture layername %}{% for word in words %}{{ word | capitalize }}{% endfor %}{%endcapture%}
var {{layername}} = omnivore.{{layer.filetype}}('{{layer.url}}').addTo(map);//{{layer.fitBounds}}
{% if layer.fitBounds == true %}{{layername}}.on('ready', function() {
  map.fitBounds({{layername}}.getBounds())
});{% endif %}
{{layername}}.on('click', function (e) {
  console.log(e)
});
layerControl.addOverlay({{layername}}, "{{layer.name}}");
{%endfor%}{%endif%}
</script>

{{content}}
