/*material controls*/
.leaflet-control-container .mdl-menu--bottom-right {
  margin-top: -40px !important;
  margin-left: -50px !important;
  margin-right: 50px !important;
}
.leaflet-control-container .mdl-menu--bottom-left {
  margin-top: -40px !important;
  margin-left: 50px !important;
  margin-right: -50px !important;
}
.leaflet-control-container .mdl-menu--top-left {
  margin-top: 40px !important;
  margin-bottom: -40px !important;
  margin-left: 50px !important;
  margin-right: -50px !important;
}
.leaflet-control-container .mdl-menu--top-right {
  margin-top: 40px !important;
  margin-bottom: -40px !important;
  margin-left: -50px !important;
  margin-right: 50px !important;
}
.leaflet-bar-mdl.leaflet-control {
  /*margin: 8px 16px 8px 16px;*/
  margin-right: 12px;
  margin-top: 12px;
}
.leaflet-bar-mdl.leaflet-control button {
  margin-bottom: 10px;/*16px;*/
  display: block;
}
.leaflet-control-layers-mdl .mdl-checkbox {
  display: inline-flex;
}
/*@media (min-width: 840px) {
  .leaflet-bar-mdl.leaflet-control {
    margin: 24px 24px 0 24px;
  }
}*/
  /* MATERIAL GEOCODER CONTROL */
  form.geocoder-form div.mdl-textfield, .leaflet-control-geocoder-results-mdl {
    background-color: white;
    padding: 10px;
    padding-left: 12px;
    overflow: hidden;
    width: 300px;
  }
  .leaflet-control-geocoder-results-mdl {
    padding: 5px 0 5px 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s linear, visibility 0s linear 0.2s;
  }
  .leaflet-control-geocoder-results-mdl.show-results {
    visibility: visible;
    opacity: 1;
    transition-delay:0s;
  }
  .leaflet-control-geocoder-results-mdl > * {
    display: block;
    padding: 5px 10px 5px 10px;
  }
  .leaflet-control-geocoder-results-mdl a:hover {
    background-color: #fafafa;
  }
  form.geocoder-form .mdl-textfield .mdl-textfield__label {
    top: 12px;
    padding-left: 12px;
  }
  form.geocoder-form .mdl-textfield .mdl-textfield__label:after {
    bottom: 0;
  }
  form.geocoder-form .mdl-textfield.is-dirty .mdl-textfield__label {
    visibility: visible;
  }
  form.geocoder-form .mdl-textfield .mdl-textfield__input {
    border-bottom: none;
    padding-left: 35px;
    padding-right: 35px;
  }
  form.geocoder-form .mdl-button.clear-search {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 5px;
    visibility: hidden;
  }
  form.geocoder-form .is-dirty .mdl-button.clear-search {
    visibility: visible;
  }
  form.geocoder-form .mdl-progress {
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
  }
  .searching form.geocoder-form .mdl-progress {
    visibility: visible;
  }
  /*end material controls*/
