.is-focused .mdl-textfield__input {
  min-width: 180px;
}
.demo-content {
  max-width: 1344px;
}
.mdl-card--square {
  width: 320px;
  height: 600px;
}
.demo-updates .mdl-card__title {
  min-height: 200px;
  background-image: url(images/dog.png);
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1600px) and (min-width: 1344px) {
  .mdl-card--square {
    width: 24%;
    margin: 8px auto;
  }
}
@media screen and (max-width: 1343px) and (min-width: 844px) {
  .mdl-card--square {
    width: 31%;
    margin: 8px auto;
  }
}
@media screen and (max-width: 479px) {
  .mdl-card--square {
    width: 100%;
    margin: 8px auto;
  }
}
